{% extends "jobs_form/base.html" %}

{% load bootstrap3 %}
{% load i18n %}

{% block content %}
    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    <form clas="form" action="" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {%  bootstrap_form form %}
            {% endfor %}
        {% else %}
            {% bootstrap_form wizard.form %}
        {% endif %}
        {% if wizard.steps.prev %}
             {% bootstrap_button 'First step' name="wizard_goto_step" button_type='submit' value=wizard.steps.first  %}
            {%  bootstrap_button 'Prev'  name="wizard_goto_step" button_type='submit' value=wizard.steps.prev %}
        {% endif %}
        {% bootstrap_button 'Next' button_type='submit' %}
    </form>
{% endblock %}