{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
<html>
<head>
    <title>Sachs Jobs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="{% static 'jobs_form/css/styles.css' %}" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    {% bootstrap_javascript %}
    {{ wizard.form.media }}
</head>
<body>

<header>
    <div class="container">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <img src="{% static 'jobs_form/images/sachs-logo.png' %}">
        </div>
    </div>
</header>

<div class="container">
    <div class="form-container col-xs-12 col-lg-10 col-lg-offset-1">
        <h1>Job Application - SAC Health System</h1>
        <h4>The Mission is Here. The Mission is Now.</h4>
        {% block content %}
        {% endblock %}
    </div>
</div>

</body>
</html>